@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans:wght@300&family=Quicksand:wght@300;400;500&display=swap');
@tailwind base;

@tailwind components;

@tailwind utilities;